.menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  /* overflow: hidden; */
  margin-top: 5rem;
  background: var(--clr-cream-100);
  padding: 2rem;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show-menu {
  right: 0;
}
