.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.tag {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: var(--clr-cream-400);
  border: none;
  color: var(--clr-blue-900);
  font-weight: 600;
}
.categories .active {
  background: var(--clr-blue-900) !important;
  color: white;
  font-weight: 600;
}
