:root {
  font-family: "Jost", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --clr-purple: "#AD1FEA";
  --clr-blue-900: "#4661E6";
  --clr-blue-300: "#62BCFA";
  --clr-gray-900: "#4661E6";
  --clr-gray-800: "#3A4374";
  --clr-gray-300: "#647196";
  --clr-cream-400: "#F2F4FF";
  --clr-cream-100: "#F7F8FD";
  --clr-white: "FFFFFF";

  /* FONT SIZES */
  --text-900: 24px;
  --text-800: 20px;
  --text-700: 18px;
  --text-600: 16px;
  --text-500: 15px;
  --text-400: 14px;
  --text-300: 13px;
}

/* UTILITY CLASSES */
.text-900 {
  font-size: var(--text-900);
  line-height: 35px;
  letter-spacing: -0.33;
}
.text-800 {
  font-size: var(--text-800);
  line-height: 29px;
  letter-spacing: -0.25;
}
.text-700 {
  font-size: var(--text-700);
  line-height: 26px;
}
.text-600 {
  font-size: var(--text-600);
  line-height: 23px;
}
.text-500 {
  font-size: var(--text-500);
  line-height: 22px;
}
.text-400 {
  font-size: var(--text-400);
  line-height: 20px;
  letter-spacing: -0.2;
}
.text-300 {
  font-size: var(--text-300);
  line-height: 19px;
}

/* Media queries for different screen sizes */
@media (max-width: 390px) {
  .container {
    /* max-width: var(--container-max_width); */
    /* margin: auto; */
    margin-inline: 1.5rem;
  }
}

@media (min-width: 390px) and (max-width: 640px) {
  .container {
    margin-inline: 12%;
  }
}

/* @media (min-width: 577px){
  .grid-2{
    grid-template-columns: 1fr 1fr;
  }
} */

@media (min-width: 577px) and (max-width: 767px) {
  .container {
    max-width: 540px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  /* :root {
    --text-900: 50px;
    --text-650: 30px;
    --space-100: 100px;
    --space-200: 180px;
  } */
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
    margin-inline: auto;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    max-width: 940px;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}
